.zone_button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
  height: 90px;
  width: 100%;
}

.textAtBorder {
  color: #15cd64;
  text-align: center;
  font-size: x-large;
}

.zone-box {
  border: 1px solid #15cd64;
  border-radius: 10px;
}

.desc {
  color: white;
  margin-top: 15px;
  text-align: center;
}
