.custom-container {
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11vh;
}

.Big-Container {
  background-color: black;
  min-height: 100vh;
}

p {
  color: white;
}
